In [1]:
# Google API and Heat Maps

# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jaque,PA,2022-10-29 22:59:36,7.5175,-78.1703,78.39,84,70,2.26
1,1,Cabo San Lucas,MX,2022-10-29 22:59:06,22.8909,-109.9124,85.60,64,5,3.00
2,2,Vaini,TO,2022-10-29 22:59:37,-21.2000,-175.2000,80.76,74,20,5.75
3,3,Young,UY,2022-10-29 22:59:37,-32.6833,-57.6333,67.95,95,53,10.56
4,4,Namatanai,PG,2022-10-29 22:59:38,-3.6667,152.4333,84.49,68,85,6.80

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jaque,PA,2022-10-29 22:59:36,7.5175,-78.1703,78.39,84,70,2.26
1,1,Cabo San Lucas,MX,2022-10-29 22:59:06,22.8909,-109.9124,85.60,64,5,3.00
2,2,Vaini,TO,2022-10-29 22:59:37,-21.2000,-175.2000,80.76,74,20,5.75
4,4,Namatanai,PG,2022-10-29 22:59:38,-3.6667,152.4333,84.49,68,85,6.80
5,5,Atuona,PF,2022-10-29 22:59:38,-9.8000,-139.0333,78.15,72,0,15.43
7,7,Linhares,BR,2022-10-29 22:59:39,-19.3911,-40.0722,75.45,82,16,9.19
11,11,Vila Velha,BR,2022-10-29 22:59:41,-20.3297,-40.2925,78.75,85,20,16.11
18,18,Lompoc,US,2022-10-29 22:58:02,34.6391,-120.4579,81.01,43,9,8.01
21,21,Am Timan,TD,2022-10-29 22:59:44,11.0297,20.2827,77.32,35,56,3.65
25,25,Fomboni,KM,2022-10-29 22:59:45,-12.2800,43.7425,77.32,78,0,10.94

In [12]:
# Check for any null values 
preferred_cities_df.count()

City_ID       18
City          18
Country       18
Date          18
Lat           18
Lng           18
Max Temp      18
Humidity      18
Cloudiness    18
Wind Speed    18
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0            Jaque      PA     78.39   7.5175  -78.1703
1   Cabo San Lucas      MX     85.60  22.8909 -109.9124
2            Vaini      TO     80.76 -21.2000 -175.2000
4        Namatanai      PG     84.49  -3.6667  152.4333
5           Atuona      PF     78.15  -9.8000 -139.0333
7         Linhares      BR     75.45 -19.3911  -40.0722
11      Vila Velha      BR     78.75 -20.3297  -40.2925
18          Lompoc      US     81.01  34.6391 -120.4579
21        Am Timan      TD     77.32  11.0297   20.2827
25         Fomboni      KM     77.32 -12.2800   43.7425

In [14]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df

Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Jaque,PA,78.39,7.5175,-78.1703,Aventuras Jaque S.A
1,Cabo San Lucas,MX,85.60,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
4,Namatanai,PG,84.49,-3.6667,152.4333,Seagulls Inn Namatani
5,Atuona,PF,78.15,-9.8000,-139.0333,Villa Enata
7,Linhares,BR,75.45,-19.3911,-40.0722,Hotel Conceição
11,Vila Velha,BR,78.75,-20.3297,-40.2925,Hotel Vitória Palace
18,Lompoc,US,81.01,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
21,Am Timan,TD,77.32,11.0297,20.2827,Palais du chef Canton Salamt
25,Fomboni,KM,77.32,-12.2800,43.7425,Auberge les abou
27,Isangel,VU,86.11,-19.5500,169.2667,Tanna Lodge
29,San Patricio,US,75.83,28.0170,-97.5169,"Motel 6 Sinton, TX"
34,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
37,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
49,Kavieng,PG,84.33,-2.5744,150.7967,Nusa Island Retreat
57,Champerico,GT,82.83,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
58,Araouane,ML,77.02,18.9048,-3.5265,
59,Coffs Harbour,AU,75.16,-30.3000,153.1333,Aquajet Motel

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Jaque,PA,78.39,7.5175,-78.1703,Aventuras Jaque S.A
1,Cabo San Lucas,MX,85.60,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
4,Namatanai,PG,84.49,-3.6667,152.4333,Seagulls Inn Namatani
5,Atuona,PF,78.15,-9.8000,-139.0333,Villa Enata
7,Linhares,BR,75.45,-19.3911,-40.0722,Hotel Conceição
11,Vila Velha,BR,78.75,-20.3297,-40.2925,Hotel Vitória Palace
18,Lompoc,US,81.01,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
21,Am Timan,TD,77.32,11.0297,20.2827,Palais du chef Canton Salamt
25,Fomboni,KM,77.32,-12.2800,43.7425,Auberge les abou

In [17]:
# Add a heatmap of temperature for the vacation spots.


# The info_box template
info_box_template = """

Hotel Name
{Hotel Name}
City
{City}
Country
{Country}
Max Temp
{Max Temp}

"""

# plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


#Create a heat map with markers that have popup box info
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))